<h1> Osamah Abdulrahman || ITIS 3135 </h1>
            <nav>
                <a href="./">Home</a>
                ||
                <a href="introduction.html">Introduction</a>
                ||
                <a href="contract.html">Contract</a>
                ||
                <a href="website_evaluations.html">Website Evaluations</a>
                ||
                <a href="stuff/craPPY!.html">Crappy Site</a>
                ||
                <a href="tables.html">Tables</a>
                ||
                <a href="byo_intro.html">BYO Intro</a>
            </nav>